<html lang="en">
<head>
   <title>about</title>
   <link rel="icon" href="/images/weather.png">
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main_content">
        {{>header}}
        <img src="/images/download.png" class="portrait">
    </div>
    {{>footer}}
</body>
</html>