<!DOCTYPE <>

<html lang="en">
<head>
   <title>Help</title>
   <link rel="icon" href="/images/weather.png">
   <link rel="stylesheet" href="css/styles.css">
</head>
<body> 
    <div class="main_content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
     {{>footer}}
</body>
</html>