<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    <div class="main_content">
        {{>header}}
        <p> {{text}} </p>
        <form>
            <input type="text" placeholder="Enter your location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>